:root {
    --primary-color: #e07924; /* Color primario de React */
    --secondary-color: #23394d; /* Color secundario de React */
    --accent-color: #e07924; /* Color de acento de React */
    --divider-color: #d5d5d5; /* Color de la línea divisoria */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #23394d;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
}

.split-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 0.5cm;
}

.rightSection {
    padding: 20px;
    background-color: #ffffff; /* Cambiado a blanco */
    border-left: 2px solid var(--divider-color); /* Línea divisoria en el medio */
}

.leftSection {
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para la consistencia del color de fondo */
}

.ramoInfo {
    margin-bottom: 15px;
}

.seccionInfo {
    margin-bottom: 15px;
}

.planInfo {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border: 1px solid var(--primary-color);
    padding: 10px;
    /* margin-bottom: 20px; */ /* No es necesario un margen inferior ahora */
}

.infoContainer {
    width: 100%;
}

.buttonContainer {
    text-align: right;
}

.buttonContainer button {
    background-color: var(--accent-color);
    color: #23394d;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #e07924;
}

button {
    background-color: var(--accent-color);
    color: #23394d;
    padding: 10px;
    cursor: pointer;
    border: 2px solid #e07924;
}

button.input {
    background-color: #fff;
    color: #e07924;
}

button:hover {
    background-color: darken(var(--accent-color), 10%);
}

hr {
    border: 1px solid var(--primary-color);
}