.table-container {
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%; /* O el ancho deseado */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
    width: 100px; /* O el ancho deseado para todas las celdas */
}

/* Establecer un ancho específico para la primera columna */
.primera-columna {
    /*white-space: nowrap;*/
}

.seleccionado {
    background-color: #e07924;
    color: #fff;
}

.esquina {
    font-weight: bold; /* Ajusta según sea necesario */
    text-align: center; /* Centra el texto en la celda */
}